<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.anrimian.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--prevent rare crash on some devices with notification display-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>

    <!-- support for tablets -->
    <supports-screens
        android:anyDensity="true"
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!--suppress AndroidUnknownAttribute -->
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">

        <activity android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.VersionSpecific">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.external_player.ExternalPlayerActivity"
            android:launchMode="singleInstance"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.editor.composition.CompositionEditorActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/SlidrActivityTheme"/>

        <activity android:name=".ui.editor.album.AlbumEditorActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/SlidrActivityTheme"/>

        <service android:name=".infrastructure.service.music.MusicService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name=".ui.widgets.WidgetActionsReceiver"/>

        <receiver
            android:name=".ui.widgets.providers.WidgetProviderSmall"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_metadata">
            </meta-data>
        </receiver>

        <receiver
            android:name=".ui.widgets.providers.WidgetProviderSmallExt"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_ext_metadata">
            </meta-data>
        </receiver>

        <receiver
            android:name=".ui.widgets.providers.WidgetProviderMedium"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_medium_metadata">
            </meta-data>
        </receiver>

        <receiver android:name=".infrastructure.receivers.BluetoothConnectionReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>